Source: ofono-vendor-qti-radio-plugin
Section: libs
Priority: optional
Maintainer: kuailexs <952415538@qq.com>
Build-Depends: debhelper,
               libglib2.0-dev (>= 2.0),
               libgbinder-radio-dev,
               libgbinder-dev,
               libglibutil-dev (>= 1.0.61),
               libofonobinderpluginext-dev,
               ofono-dev (>= 1.29),
Standards-Version: 3.8.4

Package: ofono-vendor-qti-radio-plugin
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: qti extension for ofono binder plugin

